<body [class.dark-mode]="isDarkMode">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-10">
              <div class="centered-content">
                  <br>
                  <img src="assets/img/photoCarne1.jpg" alt="Foto de experiencia" class="experience-image">
                  <p>Jesus Elias</p>
                  <h3 class="align experience-title">Experiencia en tecnologías</h3>
              </div>
              <div style="display: block;">
                  <canvas id="canvas" baseChart width="250" height="100">
                      {{chart}}
                  </canvas>
              </div>
          </div>
          <div class="col-12 col-md-2">
              <div style="text-align:center;">
                  <br><br>
                  <div class="toggle-container">
                      <input type="checkbox" id="darkModeSwitch" (change)="toggleDarkMode()" class="toggle-switch" />
                      <label for="darkModeSwitch" class="toggle-label"></label>
                      <span class="toggle-text">Modo oscuro</span>
                  </div>
                  <br><br>
                  <div class="toggle-container">
                      <mat-form-field class="custom-form-field">
                          <mat-label>Seleccionar opciones</mat-label>
                          <mat-select multiple (selectionChange)="onSelectionChange($event)" class="custom-select">
                              <mat-option *ngFor="let lenguaje of lenguajes" [value]="lenguaje">
                                  {{ lenguaje }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <br>
                  <div class="toggle-container" style="border: 2px solid #ffffff; padding: 20px; border-radius: 8px; background-color: #333333; color: #b6b0b0;">
                      <div style="margin-top: 10px;">
                          <img src="assets/img/icono_js.png" alt="Js" style="width: 30px; height: 30px; margin-right: 5px;">
                          <img src="assets/img/icono_ts.png" alt="Ts" style="width: 30px; height: 30px; margin-right: 5px;">
                          <img src="assets/img/icono_java.png" alt="java" style="width: 30px; height: 30px; margin-right: 5px;">
                          <img src="assets/img/icono_c.png" alt="Vue" style="width: 40px; height: 40px; margin-right: 5px;">
                          <img src="assets/img/icono_angular.png" alt="Angular" style="width: 30px; height: 30px; margin-right: 5px;">
                          <img src="assets/img/icono_vue.png" alt="Vue" style="width: 30px; height: 30px; margin-right: 5px;">
                          <img src="assets/img/icono_react.png" alt="React" style="width: 30px; height: 30px; margin-right: 5px;">
                          <img src="assets/img/Laravel.svg.png" alt="React" style="width: 30px; height: 30px; margin-right: 5px;">
                          <!-- Añade más imágenes de iconos de lenguajes de programación según tus necesidades -->
                      </div>
                  </div>
                  <br>
                  <div class="toggle-container" style="border: 2px solid #ffffff; padding: 20px; border-radius: 8px; background-color: #333333; color: #b6b0b0;">
                      <span style="font-size: 20px; font-weight: bold;">Todo lo puedo en Cristo que me fortalece.</span>
                      <br>
                      <span style="font-size: 14px;">- Filipenses 4:13</span>
                  </div>
                  <br>
                  <a style="border: 2px solid #ffffff; padding: 20px; border-radius: 8px; background-color: #333333; color: #b6b0b0;" href="https://jesuselias.github.io/Portafolio/" class="btn btn-primary">Ir al portafolio</a>
              </div>
          </div>
      </div>
      <br>
      <h6 class="align experience-title">Grafica que representa el porcentaje de experiencia y uso de los diversos lenguajes, framework o herraminetas tecnologicas a traves de los años.</h6>
      <br>
  </div>
</body>