body {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode button {
  color: white;
}

.container {
  height: 100%
}

/* Estilos para la lista desplegable */
.mat-select-panel {
  font-size: 16px;
  max-height: 200px;
  overflow: auto;
  background-color: #333;
  color: #fff;
}

.white-background {
  background-color: #251f1f;
  color: #b6b0b0;
}

.centered-content {
  text-align: center;
}

.experience-image {
  display: block;
  margin: 0 auto;
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Hace que la imagen tenga forma de círculo */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el área */
  /* Estilos adicionales para la imagen */
}

.round-button {
  border-radius: 50%; /* Hace que el botón tenga forma redonda */
  padding: 10px; /* Ajusta el espacio interno del botón según tus necesidades */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.gray-background {
  background-color: gray; /* Establece el color de fondo gris */
  color: white; /* Establece el color de texto en blanco */
}

.toggle-switch {
  display: none; /* Oculta el checkbox */
}

.toggle-label {
  display: inline-block;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background-color: gray;
  position: relative;
  cursor: pointer;
}

.toggle-label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  top: 3px;
  left: 3px;
  transition: transform 0.3s;
}

.toggle-switch:checked + .toggle-label {
  background-color: #3e3e3e;
}

.toggle-switch:checked + .toggle-label::after {
  transform: translateX(24px);
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-text {
  margin-left: 8px;
  font-weight: bold;
}

.custom-form-field {
  background-color: #2b2b2b;
  border-radius: 10px; /* Cambia el valor para ajustar la forma */
  padding: 8px;
  border: 2px solid #ffffff;
}

.custom-select {
  background-color: #2b2b2b;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 14px;
  color: #333333;
  width: 100%;
}

.custom-select::placeholder {
  color: #999999;
}

.custom-select:hover {
  cursor: pointer;
}

.custom-select-panel {
  background-color: #ffffff;
}

.custom-select .mat-select-value-text {
  color: #333333;
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 576px) {

    /* Estilos del modo oscuro */
  .dark-mode {
    background-color: black;
    color: white;
  }

  .dark-mode button {
    color: white;
  }

  /* Estilos adicionales para dispositivos móviles */
  @media (max-width: 576px) {
    body.dark-mode {
      background-color: black;
      color: white;
      height: 1000px
    }
    
    .dark-mode button {
      color: white;
    }
  }

  .toggle-label {
    width: 40px;
    height: 20px;
  }
  
  .toggle-label::after {
    width: 14px;
    height: 14px;
    top: 3px;
    left: 2px;
  }
  
  .toggle-text {
    font-size: 12px;
  }
  
  .custom-form-field {
    font-size: 12px;
  }
  
  .custom-select {
    font-size: 12px;
  }
}

